<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<filter>
		<description>
		</description>
		<display-name>PrechargementFilter</display-name>
		<filter-name>PrechargementFilter</filter-name>
		<filter-class>com.filters.PrechargementFilter</filter-class>
	</filter>
	<filter-mapping> 
		<filter-name>PrechargementFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>com.conf.InitialisationDaoFactory</listener-class>
	</listener>

	<servlet>
		<servlet-name>CreationCampagne</servlet-name>
		<servlet-class>com.servlet.CreationCampagne</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AfficheCampagne</display-name>
		<servlet-name>AfficheCampagne</servlet-name>
		<servlet-class>com.servlet.AfficheCampagne</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SuppressionCampagne</display-name>
		<servlet-name>SuppressionCampagne</servlet-name>
		<servlet-class>com.servlet.SuppressionCampagne</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Test</display-name>
		<servlet-name>Test</servlet-name>
		<servlet-class>com.servlet.Test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreationCampagne</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AfficheCampagne</servlet-name>
		<url-pattern>/affichecampagne</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuppressionCampagne</servlet-name>
		<url-pattern>/suppressioncampagne</url-pattern>
	</servlet-mapping>
</web-app>
