table {
	width: 100%;
}
html{
    background-color: #400040;
}
table, th, td {
	border: 2px solid rgb(255, 255, 255);
	border-collapse: collapse;
}

th, td {
	padding: 15px;
	text-align: left;
}

table#t01 tr:nth-child(even) {
	background-color: rgb(247, 247, 247);
}

table#t01 tr:nth-child(odd) {
	background-color: rgb(247, 247, 247);
}

th {
	color: rgb(255, 255, 255);
	background-color: #0568CD;
	padding: 5px;
}

th.action {
	background-color: rgb(255, 0, 43);
	color: white;
}

td.number {
	background-color: #ffffff;
	color: #400040;
}